# Importing Data Using Pandas - Lab

## Introduction

In this lab, you'll get some practice with loading files with summary or metadata, and if you find that easy, the optional "level up" content covers loading data from a corrupted csv file!

## Objectives
You will be able to:
* Import data from csv files and Excel files
* Understand and explain key arguments for imports
* Save information to csv and Excel files
* Access data within a Pandas DataFrame (print() and .head())

##  Loading Files with Summary or Meta Data

Load either of the files Zipcode_Demos.csv or Zipcode_Demos.xlsx. What's going on with this dataset? Clean it up into a useable format and describe the nuances of how the data is currently formatted.

All data files are stored in a folder titled 'Data'.

In [2]:
# Your code here - Load the file
import numpy as np 
import pandas as pd

In [9]:
df = pd.read_csv('Data/Zipcode_Demos.csv')
df.shape

(57, 47)

In [8]:
# Your code here - Perform exploratory data analysis
df.isnull().sum()

0                      0
Average Statistics     1
Unnamed: 2             0
Unnamed: 3            46
Unnamed: 4            46
Unnamed: 5            46
Unnamed: 6            46
Unnamed: 7            46
Unnamed: 8            46
Unnamed: 9            46
Unnamed: 10           46
Unnamed: 11           46
Unnamed: 12           46
Unnamed: 13           46
Unnamed: 14           46
Unnamed: 15           46
Unnamed: 16           46
Unnamed: 17           46
Unnamed: 18           46
Unnamed: 19           46
Unnamed: 20           46
Unnamed: 21           46
Unnamed: 22           46
Unnamed: 23           46
Unnamed: 24           46
Unnamed: 25           46
Unnamed: 26           46
Unnamed: 27           46
Unnamed: 28           46
Unnamed: 29           46
Unnamed: 30           46
Unnamed: 31           46
Unnamed: 32           46
Unnamed: 33           46
Unnamed: 34           46
Unnamed: 35           46
Unnamed: 36           46
Unnamed: 37           46
Unnamed: 38           46
Unnamed: 39           46
Unnamed: 40           46
Unnamed: 41           46
Unnamed: 42           46
Unnamed: 43           46
Unnamed: 44           46
Unnamed: 45           46
Unnamed: 46           46
dtype: int64

In [ ]:
# What is going on with this data set? Anything unusual?

In [ ]:
# Your code here - Clean up the data set

## Level Up (Optional) - Loading Corrupt CSV files

Occasionally, you encounter some really ill formatted data. One example of this can be data that has strings containing commas in a csv file. Under the standard protocol, when this occurs, one is supposed to use quotes to differentiate between the commas denoting fields and commas within those fields themselves. For example, we could have a table like this:  

ReviewerID,Rating,N_reviews,Review,VenueID
123456,4,137,This restaurant was pretty good, we had a great time.,98765

Which should be saved like this if it were a csv (to avoid confusion with the commas in the Review text):
"ReviewerID","Rating","N_reviews","Review","VenueID"
"123456","4","137","This restaurant was pretty good, we had a great time.","98765"

Attempt to import the corrupt file, or at least a small preview of it. It is appropriately titled Yelp_Reviews_corrupt.csv. Investigate some of the intricacies of skipping rows to then pass over this error and comment on what you think is going on.

In [ ]:
#Hint: here's a useful programming pattern to use.
try:
    #do something
except Exception as e:
    #handle your exception e

## Summary

Congratulations, you now practiced your pandas-importing skills!